@import './variables';

.h-btn {
  border-color: $secondary;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  &:hover {
    background-color: $secondary;
    border-color: $secondary;
  }
}

.h-btn-outlined {
  color: $secondary;
}

.h-btn-filled {
  background-color: $secondary;
  color: white;
}