@import './variables';

.houseCard {
  z-index: 10;

  .houseName {
    font-weight: bolder;
  }

  .housePrice {
    color: $secondary;
    font-weight: 600;
    font-size: 0.9rem;

    span {
      margin-right: 8px;
    }
  }
}